<form class="register-form" (ngSubmit)="onSubmit()">
  <h2 class="register-form__title">
    Digite seu apelido para entrar na sala de bate-papo:
  </h2>
  <mat-form-field class="register-form__input-field">
    <mat-label>Apelido</mat-label>
    <input
      type="text"
      matInput
      [formControl]="username"
      placeholder="Ex. Bob"
    />
    @if (this.username.hasError('required')) {
    <mat-error>Seu nome está <strong>inválido.</strong></mat-error>
    }
  </mat-form-field>
  <button
    mat-flat-button
    class="register-form__button"
    type="submit"
    color="primary"
  >
    Conectar
  </button>
</form>
