.main-container {
  &__chat {
    margin: 0 auto;
  }
}

.chat {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    width: 100%;
    background-color: #f2f2f2;
    background-image: url(../../../assets/background-chat-page.svg);
    background-size: 30%;
    overflow-y: scroll;
  }

  &__message-box--bg-color--green {
    margin-left: auto;
  }
}

.message-box {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;

  &--bg-color--green {
    color: white;
    background-color: #4758b8;
  }

  &--bg-color--dark-gray {
    background-color: #9a9a9a;
  }

  &--message-type--join {
    color: rgb(43, 99, 43);
    background-color: rgb(85, 193, 85);
  }

  &--message-type--leave {
    background-color: rgb(179, 77, 77);
  }

  &__username {
    font-size: 18px;
    font-weight: 500;
  }

  &__message {
    color: white;
  }
}

.container-form {
  width: 100%;
}

.send-message-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  &__textarea-mat-field {
    width: 100%;
    border-radius: 10px !important;
  }

  &__textarea {
    resize: none;
  }
}
