.container {
  &__chat {
    margin: 0 auto;
  }
}

.chat {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(114, 112, 112);
  }

  &__message-box--bg-color--green {
    margin-left: auto;
  }
}

.message-box {
  display: inline-block;
  padding: 10px;
  width: fit-content;

  &--bg-color--green {
    background-color: green;
  }

  &--bg-color--dark-gray {
    background-color: rgb(85, 84, 84);
  }

  &__username {
    font-size: 18px;
    font-weight: bold;
  }

  &__text {
  }
}
